#ejem {
    padding: 10px;
    background: -webkit-linear-gradient(left, rgb(0, 0, 0), rgb(17, 202, 79));
    align-content: center;
}

#tr {
    color: rgba(189, 218, 186, 0.7);
    text-shadow: #000 5px 5px 5px;
    text-align: center;
    -webkit-transition: -webkit-transform 1s ease 0s;
}

#boton {
    margin-block: 5px;
    -webkit-transition: -webkit-transform 1s ease 0s;
}

#boton:hover {
    -webkit-transform: scale(1.2);
}
